h3{

    text-align: left;
    margin-left:5rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

.username-bar {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #EEEDED;

    border-radius: 5px;
    width: 30rem;
    height: 2rem;
    margin-left:5rem;
}

.password-icon {
    height: 1.9rem;
    width: auto;
    
    transform: rotate(316.5deg) scaleY(-1);
    margin-right: 10px;
}

.username-bar input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 5px;
    background-color: #EEEDED;
}


   